body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    gap: 32px;}
#text {
    display: flex;
    flex-direction: column;
    margin: 32px;}
#container {
    flex: none;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    height: 540px;
    justify-content: center;
    align-content: center;
    margin: 16px auto;
    width: 540px;}
button {
    background-color: white;
    flex: none;
    border: 1px solid black;
    margin: 0px;}
